<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<!-- Configuración para permitir solicitudes grandes -->
			<security>
				<requestFiltering>
					<!-- Tamaño máximo permitido en bytes (400 MB) -->
					<requestLimits maxAllowedContentLength="419430400" />
				</requestFiltering>
			</security>

			<aspNetCore processPath="dotnet" arguments=".\api_gualan.dll"
            stdoutLogEnabled="true"
            stdoutLogFile=".\logs\stdout"
            hostingModel="inprocess" />


		</system.webServer>
	</location>
</configuration>
